<%- include("header") -%>

<h2><%= log %></h2>

<form method="post" action="/login">

    <div class="mb-3 row left-border">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input name="Email" class="form-control" type="email" placeholder="Enter your Email id" aria-label="default input example" required>
        </div>
    </div>

    <div class="mb-3 row left-border">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input name="Password" class="form-control" type="password" placeholder="Enter your Password" aria-label="default input example" required>
        </div>
    </div>

    <div class="col-auto submit-button">
        <button type="submit" class="btn btn-primary mb-3">Login</button>
    </div>

    <div class="mb-3 row left-border signup">
        <span>
            Don't have an Account?
            <a href="/signup">Sign up</a>
        </span>     
    </div>

</form>

<%- include("footer") -%>