<%- include("header") -%>

<h2>Stock Report</h2>

<form class="process" action="/report" method="post">

    <div class="mb-3 row left-border">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input list="Description" name="Description" autocomplete="off" name="desc" class="form-control" type="text" placeholder="Enter Description" />

            <datalist id="Description">
                <% items.forEach(function(Item){ %>
                    <option value = <%= Item.Description %> ></option>
                <% }) %>
            </datalist>
        </div>
    </div>

    <div class="col-auto submit-button">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>

</form>