<%- include("header") -%>

<h2>Create your Account</h2>

<form method="post" action="/signup">

    <div class="mb-3 row left-border">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
            <input name="Name" class="form-control" type="text" placeholder="Enter your Name" aria-label="default input example" required>
        </div>
    </div>

    <div class="mb-3 row left-border">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
            <input name="Email" class="form-control" type="email" placeholder="Enter your Email id" aria-label="default input example" required>
        </div>
    </div>

    <div class="mb-3 row left-border">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
            <input name="Password" class="form-control" type="password" placeholder="Enter your Password" aria-label="default input example" required>
        </div>
    </div>

    <div class="col-auto submit-button">
        <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
    </div>

</form>

<%- include("footer") -%>